---

- name: unzip
  package:
    name: unzip
  become: true
  become_user: root

# glowroot install & base config, read-only
- name: glowroot agent · download
  get_url:
    url: "{{ _glowroot_agent_archive_url }}"
    checksum: "{{ _glowroot_agent_archive_checksum }}"
    dest: "{{ _glowroot_agent_download_target_path }}/{{ _glowroot_agent_archive_name }}"
    owner: "root"
    group: "root"
  become: true
  become_user: root

- name: glowroot agent · unarchive readonly
  unarchive:
    src: "{{ _glowroot_agent_download_target_path }}/{{ _glowroot_agent_archive_name }}"
    dest: "{{ _glowroot_agent_install_path }}"
    remote_src: true
    owner: root
    group: root
  become: true
  become_user: root
  # unarchive + zip workaround: https://github.com/ansible/ansible/issues/85779
  environment:
    TZ: "UTC"

- name: glowroot agent · config readonly
  copy:
    dest: "{{ _glowroot_agent_install_path }}/glowroot/glowroot.properties"
    owner: "root"
    group: "root"
    mode: u=rw,g=r,o=r
    content: |
      agent.id={{ _glowroot_config_agent_id }}
      collector.address={{ _glowroot_config_collector_address }}
      log.dir={{ _glowroot_config_log_dir }}
      tmp.dir={{ _glowroot_config_tmp_dir }}
      conf.dir={{ _glowroot_config_conf_dir }}
  become: true
  become_user: root

# writable dirs (log, tmp, modifiable config)
- name: glowroot agent · log dir
  file:
    path: "{{ _glowroot_config_log_dir }}"
    owner: "{{ _glowroot_agent_user }}"
    group: "{{ _glowroot_agent_group }}"
    mode: u=rwx,g=rx,o=rx
    state: directory
  become: true
  become_user: root

- name: glowroot agent · tmp dir
  file:
    path: "{{ _glowroot_config_tmp_dir }}"
    owner: "{{ _glowroot_agent_user }}"
    group: "{{ _glowroot_agent_group }}"
    mode: u=rwx,g=rx,o=rx
    state: directory
  become: true
  become_user: root

- name: glowroot agent · conf dir
  file:
    path: "{{ _glowroot_config_conf_dir }}"
    owner: "{{ _glowroot_agent_user }}"
    group: "{{ _glowroot_agent_group }}"
    mode: u=rwx,g=rx,o=rx
    state: directory
  become: true
  become_user: root
