---

- name: tomcat · prepare catalina home
  become: true
  become_user: root
  import_tasks: catalina_home.yml

- name: tomcat · prepare instances
  become: true
  become_user: root
  include_tasks: catalina_base_item.yml
  with_items: "{{ tomcat_catalina_bases }}"
  loop_control:
    loop_var: catalina_base
