{% from _httpd_macro_files['vhost'] import macro_vhost %}
ServerName {{ _server_name }}

{{ macro_vhost(macro_files=_httpd_macro_files,
               vhost_item={
                 "ssl": true,
                 "sslPort": _httpd_https_port,
                 "nonSslPort": _httpd_http_port,
                 "appName": _httpd_application_name,
                 "documentRoot": _httpd_documentroot,
                 "serverName": _server_name,
                 "serverAliases": _server_aliases,
                 "contextName": _httpd_context_name,
                 "sourceContextName" : _httpd_source_context_name,
                 "ajpPort": _httpd_ajp_port,
                 "apiEndpoint": _httpd_api_endpoint,
                 "sslRewrites": _httpd_conf_https_rewrites,
                 "rewrites": _httpd_conf_http_rewrites,
                 "sslLocations": _httpd_conf_https_locations,
                 "locations": _httpd_conf_http_locations,
                 "proxyPassUnmount": _httpd_conf_proxypass_unmount,
                 "sslCertificateFile": _ssl_certificate,
                 "sslCertificateKeyFile": _ssl_key,
                 "sslCertificateChainFile": _ssl_chain,
                 "sslCaCertificateFile": _ssl_cacertificate,
                 "robots_txt": _httpd_conf_robots_txt,
                 "error_override" : _httpd_conf_error_override
              })
}}
