- name: package
  block:
    - name: package
      package:
        name: "{{ _java_package }}"

    - name: provide {{ _java_key }} path in {{ java_results_var }} facts
      set_fact:
        # update current var by combining with current value
        "{{ java_results_var }}": >-
          {{ hostvars[inventory_hostname][java_results_var]
             | combine(dict([_map_entry])) }}
      vars:
        # couple (key, value) (as dynamic key is not possible for a dict)
        _map_entry:
          - "{{ _java_key }}"
          - path: "{{ _java_path }}"
            runtime: "{{ _java_runtime }}"
  vars:
    _java_runtime: "{{ item }}"
    _java_key: "{{ item.key }}"
    _java_package: "{{ _java_runtime.package | default(default_java_runtimes[_java_key].package, True) }}"
    _java_path: "{{ _java_runtime.java_home | default(default_java_runtimes[_java_key].java_home, True) }}"
