- block:
  - set_fact: {"{{ java_results_var }}": {}}
    when: java_results_var not in hostvars[inventory_hostname]

  - name: prepare {{ _java_download_path }} folder
    file:
      path: "{{ _java_download_path }}"
      state: directory
      mode: u=rwx,g=rx,o=rx
      owner: "{{ _java_user }}"
      group: "{{ _java_group }}"
    when: _java_download_path != ''

  - name: prepare {{ _java_runtime_path }} folder
    file:
      path: "{{ _java_runtime_path }}"
      state: directory
      mode: u=rwx,g=rx,o=rx
      owner: "{{ _java_user }}"
      group: "{{ _java_group }}"
    when: _java_runtime_path != ''

  - include: yum_repository.yml
    when: >-
      _java_yum_repository is defined
      and _java_yum_repository

  - name: install {{ item.type }} {{ item.version }}
    include: java_runtime_item.yml
    with_items: "{{ java_runtimes }}"

  when: java_runtimes | length > 0
